@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #090707;
  }
}

#root {
  height: 100%;
  position: relative;
}

/* Rainbowkit wrapper add an empty div, cascade height to make sticky elements to work */
#root > div {
  height: 100%;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.react-loading-skeleton {
  z-index: 0;
}

@layer base {
  :root {
    --background: 24 71% 99%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --container: 24 71% 99%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 212 90% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 70% 92%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 30 12% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-secondary: 0 0 80%;
    --accent: 0 0% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 90%;
    --border-secondary: 34 29% 83%;
    --input: 214.3 31.8% 91.4%;
    --ring: 212 90% 35%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --legend: 0 0% 40%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 15%;
    --card-foreground: 210 40% 98%;
    --container: 0 0% 10%;
    --container-foreground: 210 40% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 0% 7%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 7.5%;
    --muted-foreground: 0 0% 60%;
    --muted-secondary: 0 0 40%;
    --accent: 0 0% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 60%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --legend: 0 0% 60%;
  }
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('/fonts/TWKLausanne-300.otf') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('/fonts/TWKLausanne-500.otf') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('/fonts/TWKLausanne-700.otf') format('woff');
  font-weight: 700;
  font-display: swap;
}

@layer base {
  html {
    /* font-family: 'TWK Lausanne', system-ui, sans-serif; */
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
