html,
body {
  height: 100%;
  position: relative;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #090707;
  }
}

#root {
  height: 100%;
  position: relative;
}

/* Rainbowkit wrapper add an empty div, cascade height to make sticky elements to work */
#root > div {
  height: 100%;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
